<div class="bg-light p-5 text-center">
    <h4>Created by UK</h4>
    <h5>📞010-1234-5678</h5>
    <button class="btn btn-outline-primary">고객센터</button>
    <button class="btn btn-outline-success">오시는길</button>
</div>
</body>

</html>